<template>
  <div id="app">
    <TodoTable/>
  </div>
</template>

<script>
import TodoTable from './components/TodoTable'

export default {
  name: 'App',
  components: {
    TodoTable
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin: 60px auto;
  width: 800px;
}
</style>
