<template>
  <div id="todotable">

    <el-table
      :data="tableData"
      v-loading="dataIsLoading"
      style="width: 100%">
      <el-table-column
        label="What to do"
        width="400">
        <template slot-scope="scope">
            <p style="margin-left: 10px">{{ scope.row.label }}</p>
        </template>
      </el-table-column>
      <el-table-column
        label="Expires In"
        width="200">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ daysLeft(scope.row.dueDate) }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Operations">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="remove(scope.$index, scope.row)">Remove</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="edit(scope.$index, scope.row)">Edit</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-button id="add_item" type="primary" @click="add()" round>Add Item</el-button>

    <todo-item-form :selectedItem="selectedItem" :EditItemVisible="EditItemVisible" @itemSet="setItem($event)"/>

  </div>
</template>

<script>

  import TodoItemForm from './TodoItemForm'

export default {
  name: 'TodoTable',
  components: {
    TodoItemForm
  },
  data () {
    return {
      tableData: [],
      EditItemVisible: false,
      editedItem: 0,
      selectedItem: {
        _id: '1',
        dueDate: '',
        label: ''
      },
      addNew: false,
      dataIsLoading: true
    }
  },
  methods: {
    async pullData(context) {
      context.dataIsLoading = true;
      await this.$feathers.service('todos').find().then(
        function (res) {
          context.tableData = res.data;
          context.dataIsLoading = false;
        },
        function (error) {
          console.log (error);
          context.dataIsLoading = false;
        }
      );

    },
    edit(index) {
      this.selectedItem = Object.assign({}, this.tableData[index]);
      this.addNew = false;
      this.editedItem = index;
      this.EditItemVisible = true;
    },
    async remove(index) {
      const id = this.tableData[index]._id;
      this.tableData.splice(index, 1);
      await this.$feathers.service('todos').remove(id);
    },
    add() {
      this.selectedItem = {
        label: 'New task',
        dueDate: this.moment(new Date()).add(1, 'days')
      };
      this.addNew = true;
      this.EditItemVisible = true;
    },
    setItem(item) {
      this.EditItemVisible = false;

      if ((item === null)  ||
        (!this.addNew && this.tableData[this.editedItem].label === item.label && this.tableData[this.editedItem].dueDate === item.dueDate))
        return;

      if (!this.addNew) {
        this.changeItem(item);
      } else {
        this.createNewItem(item);
      }
    },
    async createNewItem(item) {
      await this.$feathers.service('todos').create(item);
      this.pullData(this);
    },
    async changeItem(item) {
      this.$set(this.tableData[this.editedItem], 'label', item.label);
      this.$set(this.tableData[this.editedItem], 'dueDate', item.dueDate);

      await this.$feathers.service('todos').patch(item._id, {
        label: item.label,
        dueDate: item.dueDate,
      });
    },
    daysLeft(date) {
      if (!this.moment(date).isValid())
        return 'No date specified';

      const today = this.moment(new Date());
      const expDate = this.moment(date);
      const diffHours = expDate.diff(today, 'hours');
      const diffDays = Math.ceil(diffHours / 24);

      return diffDays > 0 ? diffDays + ' day' + (diffDays > 1 ? 's' : '') : 'expired';

    }
  },
  beforeMount() {
    this.pullData (this);
  }
}
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  #add_item {
    margin: 30px 60px;
    float: right;
  }
</style>
