<template>
<el-dialog title="Set task" :visible.sync="EditItemVisible" :show-close="false" :close-on-click-modal="false">
  <el-form>
    <el-form-item label="What to do" :label-width="formLabelWidth">
      <el-input v-model="item.label" ></el-input>
    </el-form-item>
    <el-form-item label="Until" :label-width="formLabelWidth">
      <el-date-picker
        v-model="item.dueDate"
        type="date"
        placeholder="Pick a day">
      </el-date-picker>
    </el-form-item>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="cancel">Cancel</el-button>
    <el-button type="primary" @click="confirm">Confirm</el-button>
  </span>
</el-dialog>
</template>
<script>
  export default {
    props: {
      EditItemVisible: {
        type: Boolean,
        default() {
          return false;
        }
      },
      selectedItem: {
        type: Object,
        default() {
          return {
            label: 'new task',
            dueDate: '2018-02-02'
          }
        }
      }
    },
    data() {
      return {
        dialogFormVisible: true,
        formLabelWidth: '120px',
        item: {
          dueDate: '2018-02-02',
          label: this.selectedItem.label
        },
        isVisible: false
      };
    },
    methods: {
      confirm() {
        if (this.item.label === '') {
          alert("You should fill in 'What to do' field");
          return;
        } else if (this.item.dueDate === null) {
          alert("You should pick a date");
          return;
        }

        this.$emit('itemSet', Object.assign({}, this.item));
      },
      cancel() {
        this.$emit('itemSet', null);
      }
    },
    watch: {
      selectedItem: function (val) {
        this.item = val;
      }
    }
  };
</script>

<style scoped>

</style>
